#gauge-chart {
  margin-top: 40px;
}

.subnavbar {
  height: 36px;
}

.titlePichart {
  font-size: 20px;
  color: #2a3f54;
  display: flex;
  margin-top: 10px;
  margin-left: 15px;
}

.Separtormini {
  border: 1px solid #e6e9ed;
  border-radius: 1px;
  margin-left: 15px;
  margin-top: 15px;
}

.selectItem {
  padding: 3px;
  margin-top: -20px;
  float: right;
}

.helpIcon {
  margin-top: -20px;
  margin-left: 5px;
  color: #a1a3a8;
  float: right;
}

.iconP{
  height: 40px;
  width: 100%;
  justify-content: space-between;
}

.Comments {
   font-size: 30px;
  /* margin-top: 50px;  */
  /* display:flex ; */
 /*  align-items: center; */
  font-weight: 600;
  margin-left: 50px;
  color: rgba(0, 0, 0, 0.726);
}

.icon {
  margin-top: 70px;
  margin-left: 140px;
  color: #99ceff;
  float: centre;
  font-size: 50px;
}

.iconIm {
  margin-top: 40px;
   margin-left: 250px;
  color: #99ceff;
  width: 140px;
}
.iconE{
  margin-top: 40px;
   margin-left: 450px;
  color: #99ceff;
  width: 160px; 
}
.iconC{
  margin-top: 40px;
  margin-left: 470px;
 color: #99ceff;
 width: 150px;
}

